         streamlit
         requests
         textblob
         pandas
         numpy
         matplotlib
         networkx
         pyvis
         scikit-learn
        beautifulsoup4
        feedparser